@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;    
}

.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
}

.bottom-nav .logo{
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
}

.bottom-nav .login{
    font-size: 15px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: var(--highlight-color);
}